<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Пример веб-страницы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

</head>
{% verbatim %}

<body>

    <div id="app">
        <v-app>
            <v-main>
                <template v-for="item in list">
                    <div class="d-flex justify-center mb-6">
                        <v-card max-width="344" outlined style="margin-bottom: 25px">

                            <v-card-text>
                                <div>{{item.title}}</div>
                                <div>Крайний срок: {{item.deadline}}</div>
                                <div>Осталось дней: {{daysLeft(item.deadline)}}</div>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="primary" :href="'/task-detail/'+item.id">открыть
                                </v-btn> 
                            </v-card-actions>
                        </v-card>
                    </div>
                </template>
            </v-main>
        </v-app>
    </div>

</body>
{% endverbatim %}
<script src="/static/app.js"></script>

<script>
    
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            list: []
        },
        methods: {
            daysLeft: function(deadline) {
                let today = new Date()
                deadline = new Date(deadline)
                let timeleft = Math.abs(deadline.getTime() - today.getTime())

                if (timeleft > 1000*60*60*24 && false) {
                    return Math.ceil(timeleft / (1000*60*60*24))
                } else {
                    let hours = 0
                    let minutes = 0

                    days = Math.floor(timeleft / (1000*60*60*24))
                    hours = Math.floor((timeleft-days*(1000*60*60*24)) / (1000*60*60))
                    minutes = Math.round(((timeleft-days*(1000*60*60*24)) / (1000*60*60)) * 100 % 100 / 100 * 60)

                    return `${days} дней ${hours} часов ${minutes} минут`
                }
            }
        }, 
        mounted: async function() {
            this.list = await getTaskPreviewList("15446a6f23de70dc7e836f1717627f0b441278ef4324604c41426c9108dcdf10")
            console.log(this.list)
        }
    })
</script>

</html>